body {
  background-color: #fff;
  margin: 0;

  font-size: 1.5em;
  font-family: monospace;
}

button {
  font-size: 0.75em;
}

#header {
 position: relative;
 top: 0;

 margin: auto;

 width: 800px;
 height: 90px;

}

.box {
  height: calc(100% - 12px);
  width: calc(100% / 7);
  min-width: 78px;

  margin: 6px;

  display: inline-block;
  float: right;

  background-color: #fcc;

  z-index: 1;
  position: relative;

  border-radius: 48px;

  text-align: center;
  padding: 0px;
  vertical-align: middle;

  font-size: 1.25em;

  /*shadow*/
  box-shadow: 0 -2px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 -2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 -2px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 -2px 10px rgba(0,0,0,0.6);

   cursor: pointer;
}

.box:hover {
  /*shadow*/
  box-shadow: 0 -3px 15px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 -3px 15px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 -3px 15px rgba(0,0,0,0.6);
  -o-box-shadow: 0 -3px 15px rgba(0,0,0,0.6);

  background-color: #fbb;
}

.box:active {
  /*shadow*/
  box-shadow: 0 -1px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0 -1px 5px rgba(0,0,0,0.6);

  background-color: #faa;
}

#logo {
  width: calc(78px * 2);
  /*margin-bottom: calc(100vh - 78px - 12px);*/

  float: left;

  background-color: #fec;
}

#logo:hover {
  background-color: #fdb;
}

#logo:active {
  background-color: #eca;
}

.centeredText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#body {
  position: relative;
  top: -20px;

  margin: auto;

  width: 800px;
  height: calc(100vh - 260px);

  text-align: center;
  vertical-align: middle;
}

red {
  margin-left: -86px;

  background-color: red;

  display: inline-block;

  width: 75px;
  height: 25px;

  top: 7px;
  position: relative;
}

green {
  margin-left: 70px;

  z-index: 2;
  background-color: springGreen;

  display: inline-block;

  width: 0px; /*max is 76px*/
  height: 25px;

  top: 7px;
  position: relative;
}

#page0 {
  position: absolute;
  top: 0;

  width: calc(100% - 12px);  /*12px is margin*/
  height: calc(100%);  /*0px is border*/

  margin: 0 6px 0 6px;

  background-color: #def;

  /*shadow*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,0.6);

  border-radius: 48px;
}

#page1 {
  width: calc(100% - 12px);  /*12px is margin*/
  height: calc(100%);  /*0px is border*/

  margin: 0 6px 0 6px;

  background-color: #dee;

  /*shadow*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,0.6);

  border-radius: 48px;

  /*border: solid black 2px;*/
}

#page2 {
  position: absolute;
  top: 0;

  width: calc(100% - 12px);  /*12px is margin*/
  height: calc(100%);  /*0px is border*/

  margin: 0 6px 0 6px;

  background-color: #cef;

  /*shadow*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,0.6);

  border-radius: 48px;

  /*border: solid black 2px;*/
}

#lessonPage1 {
  position: absolute;
  top: 0;

  width: calc(100% - 12px);  /*12px is margin*/
  height: calc(100%);  /*0px is border*/

  margin: 0 6px 0 6px;

  background-color: #ddf;

  /*shadow*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,0.6);

  border-radius: 48px;

  /*border: solid black 2px;*/
}

#footer {
  position: relative;
  top: -20px;

  margin: auto;

  width: 800px;
  height: 140px;
}

#footerBox {
  position: absolute;

  top: 10px;

  width: 100%;
  background-color: #efd;

  border-radius: 128px;

  height: 140px;

  text-align: center;
  vertical-align: middle;

  /*shadow*/
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

#levelBox {
  width: 130px;
  height: 130px;

  left: calc(100% / 6);

  background-color: #f8a;

  border-radius: 128px;
}

#xpBox {
  width: 130px;
  height: 130px;

  left: calc((100% / 6) * 2);

  background-color: #0f0;

  border-radius: 128px;
}

#progressBox {
  width: 260px;
  height: 130px;

  left: calc((100% / 6) * 3.5);

  background-color: orange;

  border-radius: 256px;
}

#settingsBox {
  width: 130px;
  height: 130px;

  left: calc((100% / 6) * 5);

  background-color: #f44;

  border-radius: 128px;
}

.footerCircle {
  position: relative;
  top: 10%;
  left: 10%;

  width: 80%;
  height: 80%;

  background-color: #ffa;

  /*shadow*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,0.6);

  border-radius: 128px;

  cursor: pointer;
}

.footerCircle:hover {
  background-color: #ff9;

  /*shadow*/
  box-shadow: 0 4px 20px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 4px 20px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.6);
  -o-box-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

.footerCircle:active {
  background-color: #ff8;

  /*shadow*/
  box-shadow: 0 1px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0 1px 5px rgba(0,0,0,0.6);

  border-radius: 64px;
}

.acceptFinish {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);

  bottom: 2%;
}

.inputFinish {
  height: 100%;
}

.picture {
  height: calc(100% - 40px);
  padding: 20px;

  border-radius: 32px;

  background-color: #fff;

  display: inline-block;

  max-width: 600px;
}

.pictureText {
  width: 15%;
  height: calc(100% - 40px);
  padding: 20px;

  position: relative;
  top: 0px;

  background-color: #fff;

  border-radius: 32px;

  display: inline-block;

  vertical-align: top;
}

.text {
  font-size: 1.15em;
}

pop {
  font-weight: bold;
  color: #f80;
}

pop2 {
  font-weight: bold;
  color: #03f;
}

/*standard classes*/
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
